[Desktop Entry]
Name=clever
GenericName=Clever
Icon=clever
Comment=Clever Badge Login page
Exec=xdg-open https://clever.com/oauth/badge/login
Terminal=false
Type=Application
Categories=Utility;
Keywords=clever;badge;
